{% include 'base.html' %}
{% load image_decode %}

{% load static %}

{% block head %}
	<script type="text/javascript" src="{% static "js/offcanvas.js"%}"></script>
	<link rel="stylesheet" type="text/css" href="{% static "css/offcanvas.css"%}">
{% endblock %}

{% block main %}


<main role="main" class="container dashboardContents">
	<div class="d-flex align-items-center p-3 my-3 text-white-50 rounded shadow-sm allUser">
		<img class="mr-3" src="/static/images/logo.png" alt="" width="80" height="48">
			<div class="lh-100">
			<h3 class="mb-0 text-white lh-100">All Users</h3>
		</div>
	</div>
	{% for e_emp in emp %}
	<div class="my-3 p-3 rounded shadow-sm eachUser">
		<div class="media text-muted pt-3">
			<!-- Image -->
			<img src="{% decode e_emp.employee_image %}" width="52" height="52" class="mr-2 rounded">
			<div class="media-body pb-3 mb-0 small lh-125 borderBottom border-gray">
				<div class="d-flex justify-content-between align-items-center w-100">
					<strong class="text-gray-dark userHead" style="font-size: 16px;">{{ e_emp.id }} . {{ e_emp.user.first_name }} {{ e_emp.user.last_name }}</strong>
					<a href="{% url 'emp_view' e_emp.id %}">View</a>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}

{% endblock %}